body {
    background-color: #c9e2fc;
}


/* divs   */
.block_container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
#bloc1 {
    display:inline-block;
    vertical-align: middle;
    margin-right:150px;
    text-align: center;
}
#bloc2 {
    display:inline-block;
    vertical-align: middle;
    margin-left:150px;
    text-align: center;
}
.containertab{
    float: left;
    border: 2px solid #2973b8;
    margin-top: 150px;
    margin-left: 35px;
    border-radius: 15px 50px;
    width: 600px;
    height: 170px;
    background-color: azure;
    /* display:flex; */
}

/* text */
#nomealloggio{
    /* vertical-align: top;
    text-align: left; */
    display: inline-block;
    vertical-align: top;

}
#categoriaalloggio{
    display: inline-block;
    vertical-align: top;
}
#indirizzoalloggio{
    display: inline-block;
    vertical-align: top;
}
#postaelettronica{
    display: inline-block;
    vertical-align: top;
}
#telefono {
    display: inline-block;
    vertical-align: top;
}
#attrezzature{
    display: inline-block;
    vertical-align: top;
}
#cartedipag{
    display: inline-block;
    vertical-align: top;
}
/* colors */
#blue{
    color: #2973b8;
    font-family: 'Montserrat';
}
#orange{
    color: #e37a1f;
    font-family: 'Montserrat';
}
#red{
    color: #a3171a;
    font-family: 'Montserrat';
}
#Namesite{
    font-size: 0.8cm;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 13px;
}