<html>
    <head>
        <style>
            body {
              background-image: url('https://external-preview.redd.it/OMzpAC0UpyAqq7M2zoEGwTPUlF-eQT7khUvOZtjNHEA.jpg?auto=webp&s=293b05894fb7335f578322f37b71b898e4856e07');
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: cover;
            }
            #scritta {
                text-align:center;
                background-color: #555252;
                font-size: 50px;
            }
            </style>
    </head>
    <body>
        <p id="scritta">{{}}</p>
    </body>
</html>