<form action="/data" method = "POST">

    <p>Name <input type = "text" name = "Name" /></p>
    <p>Username <input type = "text" name = "Username" /></p>
    <p>Password <input type = "password" name = "Password" /></p>
    <p>Conferma <input type = "password" name = "Conferma" /></p>

    <p>Sex <input type = "radio" name = "Sex" value="M" />M 
        <input type = "radio" name = "Sex" value="F" />F
        <input type = "radio" name = "Sex" value="A" />Altro </p>

    <p><input type = "submit" value = "Submit" /></p>
</form>