<form action="/data" method = "GET">

    <p>Name <input type = "text" name = "Name" required/></p>
    <p>Username <input type = "text" name = "Username" required/></p>
    <p>Password <input type = "password" name = "Password" required/></p>
    <p>Conferma <input type = "password" name = "Conferma" required/></p>

    <p>Sex <input type = "radio" name = "Sex" value="M" />M 
        <input type = "radio" name = "Sex" value="F" />F
        <input type = "radio" name = "Sex" value="A" />Altro </p>

    <p><input type = "submit" value = "Submit" required/></p>
</form>