<html>
    <head>
        <style>
            body {
              background-image: url('https://www.primonumero.it/photogallery_new/images/2019/10/foto-160284.660x368.jpg');
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: cover;
            }
            #scritta {
                text-align:center;
                background-color: #ffffff;
                font-size: 50px;
            }
            </style>
    </head>
    <body>
        <p id="scritta" > la previsione indica che oggi sarà soleggiato</p>
   
    </body>
</html>