<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    
    <p id="Namesite"><Strong id="blue">Qui</Strong><Strong id="orange">Va</Strong><Strong id="red">do</Strong></p> 
    <div class="block_container">
        <div id="bloc1">
            <form action="/data" method = "GET">
                <!-- input textbox -->
                <p>nome dell'alloggio:<input type = "text" name = "Name" /></p>
                <p><input type = "submit" value = "Submit" /></p>
            </form>
        </div>
        <div id="bloc2">
            <form action="/data" method = "GET">
                <!-- input textbox -->
                <p>scegli il nome della provincia: <select name="City">
                    <option value=""></option>
                  </select></p>
                <p><input type = "submit" value = "Submit" /></p>
            </form>
        </div>
    </div>
    <div class="containertab">
        <h3 id="nomealloggio"> nome</h3>
        <p id="categoriaalloggio"> categoria</p>
        <p id="indirizzoalloggio"> indirizzo</p>
        <p id="postaelettronica"> postaelettronica</p>
        <p id="telefono"> telefono</p>
        <p id="attrezzature"> attrezzature</p>
        <p id="cartedipag"> cartedipag</p>
    </div>
</body>

</html>