<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_cd742d3bf6e237dfa0531d9a40f26ce9 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-minimap/3.6.1/Control.MiniMap.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-minimap/3.6.1/Control.MiniMap.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_cd742d3bf6e237dfa0531d9a40f26ce9" ></div>
        
</body>
<script>    
    
            var map_cd742d3bf6e237dfa0531d9a40f26ce9 = L.map(
                "map_cd742d3bf6e237dfa0531d9a40f26ce9",
                {
                    center: [45.46, 9.2],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_cef0db3cf822901a80a332da7971bd70 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_cd742d3bf6e237dfa0531d9a40f26ce9);
        
    
            var tile_layer_dff50d80a013f88c81b1aaee29e63f1c = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
            var mini_map_a1112778bf0162330e4088d715e3b7e5 = new L.Control.MiniMap(
                tile_layer_dff50d80a013f88c81b1aaee29e63f1c,
                {"autoToggleDisplay": false, "centerFixed": false, "collapsedHeight": 25, "collapsedWidth": 25, "height": 150, "minimized": false, "position": "bottomright", "toggleDisplay": true, "width": 150, "zoomAnimation": false, "zoomLevelOffset": -5}
            );
            map_cd742d3bf6e237dfa0531d9a40f26ce9.addControl(mini_map_a1112778bf0162330e4088d715e3b7e5);
        
    
            var marker_cluster_14b52723af186b361c8469f97748ecf5 = L.markerClusterGroup(
                {}
            );
            map_cd742d3bf6e237dfa0531d9a40f26ce9.addLayer(marker_cluster_14b52723af186b361c8469f97748ecf5);
        
    
            var marker_7d720ce0ef7cd1bd04c99a8b648def07 = L.marker(
                [45.50662535, 9.23857464],
                {}
            ).addTo(marker_cluster_14b52723af186b361c8469f97748ecf5);
        
    
        var popup_a1532cf6a8f13d4433ee6daf2540dd55 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_c3a4a406575a1aae4e3df082318c4059 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBOSUNFIEFQQVJUTUVOVCBQUkFORElOQQ==" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_a1532cf6a8f13d4433ee6daf2540dd55.setContent(i_frame_c3a4a406575a1aae4e3df082318c4059);
        

        marker_7d720ce0ef7cd1bd04c99a8b648def07.bindPopup(popup_a1532cf6a8f13d4433ee6daf2540dd55)
        ;

        
    
    
            var marker_e59abe2d96f6b820ade1f3df61e30261 = L.marker(
                [45.51547978, 9.23565216],
                {}
            ).addTo(marker_cluster_14b52723af186b361c8469f97748ecf5);
        
    
        var popup_40ba763ebb6954f68d0ba7b07cab8ced = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_7950e427b14a4cfbd918e82f21bc8a36 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBUUkVNRUxMT05JIFNVQiAyMDM=" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_40ba763ebb6954f68d0ba7b07cab8ced.setContent(i_frame_7950e427b14a4cfbd918e82f21bc8a36);
        

        marker_e59abe2d96f6b820ade1f3df61e30261.bindPopup(popup_40ba763ebb6954f68d0ba7b07cab8ced)
        ;

        
    
    
            var marker_757d8e513df3a3684cd3bf61bb21e858 = L.marker(
                [45.51114294, 9.24687443],
                {}
            ).addTo(marker_cluster_14b52723af186b361c8469f97748ecf5);
        
    
        var popup_5822916c81cf3e8c13a8229033a6cd81 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_17b3c278807ad01eae8884d5c17cc6f9 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBBRFJJQU5PIDE2IFNVQiAxMw==" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_5822916c81cf3e8c13a8229033a6cd81.setContent(i_frame_17b3c278807ad01eae8884d5c17cc6f9);
        

        marker_757d8e513df3a3684cd3bf61bb21e858.bindPopup(popup_5822916c81cf3e8c13a8229033a6cd81)
        ;

        
    
    
            var marker_68a1b1dacc7b6eeaefa575db39617cb6 = L.marker(
                [45.51031973, 9.24883164],
                {}
            ).addTo(marker_cluster_14b52723af186b361c8469f97748ecf5);
        
    
        var popup_7277340c5be68f2cacc69cbdc415e65b = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_ab2bf4c6b571e866956a2be90b73f132 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBDQVYgREkgTUFSQ08=" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_7277340c5be68f2cacc69cbdc415e65b.setContent(i_frame_ab2bf4c6b571e866956a2be90b73f132);
        

        marker_68a1b1dacc7b6eeaefa575db39617cb6.bindPopup(popup_7277340c5be68f2cacc69cbdc415e65b)
        ;

        
    
    
            var marker_560d855653baf54501c3d8afb8881dba = L.marker(
                [45.5125137, 9.26006357],
                {}
            ).addTo(marker_cluster_14b52723af186b361c8469f97748ecf5);
        
    
        var popup_b342f0e202e8c61661714faf3ef57d1e = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_b577cb934ba2bb92d480f0f675080f22 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBSRVNJREVOWkEgQ0FTQ0lOQSBHT0JCQQ==" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_b342f0e202e8c61661714faf3ef57d1e.setContent(i_frame_b577cb934ba2bb92d480f0f675080f22);
        

        marker_560d855653baf54501c3d8afb8881dba.bindPopup(popup_b342f0e202e8c61661714faf3ef57d1e)
        ;

        
    
    
            var marker_5304e1ee2df25a50a431dd4b6b4f6df7 = L.marker(
                [45.51550697, 9.2645879],
                {}
            ).addTo(marker_cluster_14b52723af186b361c8469f97748ecf5);
        
    
        var popup_24b46e65b1813f76b3a49f0353c4a667 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_ff46c522ac742fe1f918b644ff8e88ea = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBTVVNBIEhPVVNF" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_24b46e65b1813f76b3a49f0353c4a667.setContent(i_frame_ff46c522ac742fe1f918b644ff8e88ea);
        

        marker_5304e1ee2df25a50a431dd4b6b4f6df7.bindPopup(popup_24b46e65b1813f76b3a49f0353c4a667)
        ;

        
    
    
            var marker_16b325e544d74f98806171c7fdcdb26b = L.marker(
                [45.51127297, 9.2506224],
                {}
            ).addTo(marker_cluster_14b52723af186b361c8469f97748ecf5);
        
    
        var popup_110aa035e3cbedb6497424e6e288114e = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_3d684ac775bf94062fae3588ce84a3d8 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBWSUEgTUFNRVRFIChTQU4pIDM0IFNVQi4gNzA0" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_110aa035e3cbedb6497424e6e288114e.setContent(i_frame_3d684ac775bf94062fae3588ce84a3d8);
        

        marker_16b325e544d74f98806171c7fdcdb26b.bindPopup(popup_110aa035e3cbedb6497424e6e288114e)
        ;

        
    
    
            var marker_be46b0d593b4d70a821ab0f67d946f3a = L.marker(
                [45.51227605, 9.24971665],
                {}
            ).addTo(marker_cluster_14b52723af186b361c8469f97748ecf5);
        
    
        var popup_03086584ce67b9a7e15029d4ac5e1fd4 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_e5204553efa6e2aedff37ed6b9052b2b = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBNSU5PIEFOTkEgUEFPTEFfVklBVFJBU0lNRU5PIDdfU1VCIDcwNg==" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_03086584ce67b9a7e15029d4ac5e1fd4.setContent(i_frame_e5204553efa6e2aedff37ed6b9052b2b);
        

        marker_be46b0d593b4d70a821ab0f67d946f3a.bindPopup(popup_03086584ce67b9a7e15029d4ac5e1fd4)
        ;

        
    
    
            var marker_e9ffdbeea72c0df58ffba820fb48c8e2 = L.marker(
                [45.51345372, 9.23963783],
                {}
            ).addTo(marker_cluster_14b52723af186b361c8469f97748ecf5);
        
    
        var popup_629afe00454b6c60eeea4a864ae8995b = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_8092b0a50c060a99ae73119e385d031e = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBBUFBBUlRBTUVOVE8gR0FTU01BTg==" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_629afe00454b6c60eeea4a864ae8995b.setContent(i_frame_8092b0a50c060a99ae73119e385d031e);
        

        marker_e9ffdbeea72c0df58ffba820fb48c8e2.bindPopup(popup_629afe00454b6c60eeea4a864ae8995b)
        ;

        
    
    
            var marker_74b7b77039a9c736d4c83da7f2b638b7 = L.marker(
                [45.50663777, 9.23852318],
                {}
            ).addTo(marker_cluster_14b52723af186b361c8469f97748ecf5);
        
    
        var popup_034c42078851480f48cc8bca5731e281 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_7ed913951158c0e8b9197c7746252256 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBDQVJUQSBQSU5aRVRUQQ==" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_034c42078851480f48cc8bca5731e281.setContent(i_frame_7ed913951158c0e8b9197c7746252256);
        

        marker_74b7b77039a9c736d4c83da7f2b638b7.bindPopup(popup_034c42078851480f48cc8bca5731e281)
        ;

        
    
    
            var marker_4cde88ec6353ec22b99d68c6821cc524 = L.marker(
                [45.51345372, 9.23963783],
                {}
            ).addTo(marker_cluster_14b52723af186b361c8469f97748ecf5);
        
    
        var popup_0ed96bafbc66eda07993df628b6b21a5 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_ee9a1c33ad0163b8c08a67c55ca4aaf8 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBHQVNTTUFOTiAxNSBTVUIgNg==" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_0ed96bafbc66eda07993df628b6b21a5.setContent(i_frame_ee9a1c33ad0163b8c08a67c55ca4aaf8);
        

        marker_4cde88ec6353ec22b99d68c6821cc524.bindPopup(popup_0ed96bafbc66eda07993df628b6b21a5)
        ;

        
    
    
            var marker_e77c852f7c32da2adf5bc6b694fdd966 = L.marker(
                [45.506985, 9.23695399],
                {}
            ).addTo(marker_cluster_14b52723af186b361c8469f97748ecf5);
        
    
        var popup_4fadbe9544013c2b3e5e15cec57f6e32 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_474351fdb04d8a3777e608b604b69dff = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBIT1VTSU5HIDMy" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_4fadbe9544013c2b3e5e15cec57f6e32.setContent(i_frame_474351fdb04d8a3777e608b604b69dff);
        

        marker_e77c852f7c32da2adf5bc6b694fdd966.bindPopup(popup_4fadbe9544013c2b3e5e15cec57f6e32)
        ;

        
    
    
            var marker_5d0df2a74ab0427c2e28bb6d2f582d46 = L.marker(
                [45.51067249, 9.24703203],
                {}
            ).addTo(marker_cluster_14b52723af186b361c8469f97748ecf5);
        
    
        var popup_8c8c9927e0cb7a3af34cbf8215ace90a = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_b382a5e3f84fa0fc9efc63f7ea79805a = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBUSU5ZIExPVkUgSE9VU0U=" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_8c8c9927e0cb7a3af34cbf8215ace90a.setContent(i_frame_b382a5e3f84fa0fc9efc63f7ea79805a);
        

        marker_5d0df2a74ab0427c2e28bb6d2f582d46.bindPopup(popup_8c8c9927e0cb7a3af34cbf8215ace90a)
        ;

        
    
    
            var marker_99f3b6f199b6acf58dccd6ae3f39221b = L.marker(
                [45.5126859, 9.26089091],
                {}
            ).addTo(marker_cluster_14b52723af186b361c8469f97748ecf5);
        
    
        var popup_28387b475d8138a2a81a903c26078e2b = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_7eadcbca3e057ca3f2bcd8d3634b4697 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBSRVNJREVOQ0UgU0FOIFJBRkZBRUxFIDE=" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_28387b475d8138a2a81a903c26078e2b.setContent(i_frame_7eadcbca3e057ca3f2bcd8d3634b4697);
        

        marker_99f3b6f199b6acf58dccd6ae3f39221b.bindPopup(popup_28387b475d8138a2a81a903c26078e2b)
        ;

        
    
    
            var marker_9939ca62d91332707cea194f9ee25b80 = L.marker(
                [45.51345372, 9.23963783],
                {}
            ).addTo(marker_cluster_14b52723af186b361c8469f97748ecf5);
        
    
        var popup_d78e559b8bed16271625cba12b5dea94 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_d96840a3ba8e7d707663de9e6a0dd4c7 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBIT01FIFNXRUVUIEhPTUUgXyBHQVNTTUFOIDE1" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_d78e559b8bed16271625cba12b5dea94.setContent(i_frame_d96840a3ba8e7d707663de9e6a0dd4c7);
        

        marker_9939ca62d91332707cea194f9ee25b80.bindPopup(popup_d78e559b8bed16271625cba12b5dea94)
        ;

        
    
    
            var marker_c4fe995f96c4c006bdab64853941c3d7 = L.marker(
                [45.51079669, 9.2477753],
                {}
            ).addTo(marker_cluster_14b52723af186b361c8469f97748ecf5);
        
    
        var popup_910779c1516617bf77e0a714fb8a9b5d = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_edd687c94c48fd92d3f155fd70103263 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBDT05WRVJUSU5J" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_910779c1516617bf77e0a714fb8a9b5d.setContent(i_frame_edd687c94c48fd92d3f155fd70103263);
        

        marker_c4fe995f96c4c006bdab64853941c3d7.bindPopup(popup_910779c1516617bf77e0a714fb8a9b5d)
        ;

        
    
</script>