<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_2f4de1a42be922f50fe563f5182aae99 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-minimap/3.6.1/Control.MiniMap.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-minimap/3.6.1/Control.MiniMap.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_2f4de1a42be922f50fe563f5182aae99" ></div>
        
</body>
<script>    
    
            var map_2f4de1a42be922f50fe563f5182aae99 = L.map(
                "map_2f4de1a42be922f50fe563f5182aae99",
                {
                    center: [45.46, 9.2],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_62148ad35ac69043b1aea7fd441a2c31 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_2f4de1a42be922f50fe563f5182aae99);
        
    
            var tile_layer_43c7a11c21919c915ee9dff89bfd06a7 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
            var mini_map_95034adbdc74b153062a8b2704d5c2fe = new L.Control.MiniMap(
                tile_layer_43c7a11c21919c915ee9dff89bfd06a7,
                {"autoToggleDisplay": false, "centerFixed": false, "collapsedHeight": 25, "collapsedWidth": 25, "height": 150, "minimized": false, "position": "bottomright", "toggleDisplay": true, "width": 150, "zoomAnimation": false, "zoomLevelOffset": -5}
            );
            map_2f4de1a42be922f50fe563f5182aae99.addControl(mini_map_95034adbdc74b153062a8b2704d5c2fe);
        
    
            var marker_cluster_8a58cfb1211dcb0e16a5a526e3f376b9 = L.markerClusterGroup(
                {}
            );
            map_2f4de1a42be922f50fe563f5182aae99.addLayer(marker_cluster_8a58cfb1211dcb0e16a5a526e3f376b9);
        
    
            var marker_250a8d2d352ffdca1a9e53fa0fe40b82 = L.marker(
                [45.50827013, 9.13934789],
                {}
            ).addTo(marker_cluster_8a58cfb1211dcb0e16a5a526e3f376b9);
        
    
        var popup_e57f5cf5e708cd6a02be7da7db62ab14 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_9747adb3a0166237a00ee5fafcc8c028 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBWSUEgRE9OIEZSQU5DRVNDTyBTVUIgMTI=" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_e57f5cf5e708cd6a02be7da7db62ab14.setContent(i_frame_9747adb3a0166237a00ee5fafcc8c028);
        

        marker_250a8d2d352ffdca1a9e53fa0fe40b82.bindPopup(popup_e57f5cf5e708cd6a02be7da7db62ab14)
        ;

        
    
    
            var marker_e97869b6b1ca9b83a4f7b5f94a514d94 = L.marker(
                [45.5140834, 9.12988723],
                {}
            ).addTo(marker_cluster_8a58cfb1211dcb0e16a5a526e3f376b9);
        
    
        var popup_ae6586a7d1d3cd4a76117d73c2115a67 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_034f4208b77449d629da04f545cecf80 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBDSVRUQURJTkkgOCBTVUIgMg==" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_ae6586a7d1d3cd4a76117d73c2115a67.setContent(i_frame_034f4208b77449d629da04f545cecf80);
        

        marker_e97869b6b1ca9b83a4f7b5f94a514d94.bindPopup(popup_ae6586a7d1d3cd4a76117d73c2115a67)
        ;

        
    
    
            var marker_1c980936b6a8a44a7ee1b9a6b956bf1a = L.marker(
                [45.51018535, 9.13022309],
                {}
            ).addTo(marker_cluster_8a58cfb1211dcb0e16a5a526e3f376b9);
        
    
        var popup_672a730c424ca2c5bf74249bb5e4b40d = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_8280bf587185a92e75b5bfc7857e1f21 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBNQU1CUkVUVEkgQVBBUlRNRU5U" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_672a730c424ca2c5bf74249bb5e4b40d.setContent(i_frame_8280bf587185a92e75b5bfc7857e1f21);
        

        marker_1c980936b6a8a44a7ee1b9a6b956bf1a.bindPopup(popup_672a730c424ca2c5bf74249bb5e4b40d)
        ;

        
    
    
            var marker_d41dd9653d208c71e0a1d128863fd5f5 = L.marker(
                [45.50928145, 9.13901914],
                {}
            ).addTo(marker_cluster_8a58cfb1211dcb0e16a5a526e3f376b9);
        
    
        var popup_0a4eb23fce5c645e8ce8ab0f9ff54928 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_83ae5385a78c3ffdd9c4838d9ef83d6d = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBDQVNBTEUgVE9SUkUgMQ==" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_0a4eb23fce5c645e8ce8ab0f9ff54928.setContent(i_frame_83ae5385a78c3ffdd9c4838d9ef83d6d);
        

        marker_d41dd9653d208c71e0a1d128863fd5f5.bindPopup(popup_0a4eb23fce5c645e8ce8ab0f9ff54928)
        ;

        
    
    
            var marker_eafdee7c442c7e1aab092264dc4040aa = L.marker(
                [45.51050905, 9.14272593],
                {}
            ).addTo(marker_cluster_8a58cfb1211dcb0e16a5a526e3f376b9);
        
    
        var popup_c11f8b3bda2124e7cc2920af97cc8417 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_7de1cbb12dab67378e35e8d523fa0b77 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBIT01FIFNXRUVUIEhPTUUgTUlMQU5P" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_c11f8b3bda2124e7cc2920af97cc8417.setContent(i_frame_7de1cbb12dab67378e35e8d523fa0b77);
        

        marker_eafdee7c442c7e1aab092264dc4040aa.bindPopup(popup_c11f8b3bda2124e7cc2920af97cc8417)
        ;

        
    
    
            var marker_5520d8079ced2374e19dee5754d30ec5 = L.marker(
                [45.50928145, 9.13901914],
                {}
            ).addTo(marker_cluster_8a58cfb1211dcb0e16a5a526e3f376b9);
        
    
        var popup_3331426341c940a84870052b7411931c = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_13293c452f15a0518cf59b9d306785b0 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBDQVNBTEUgVE9SUkUgMg==" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_3331426341c940a84870052b7411931c.setContent(i_frame_13293c452f15a0518cf59b9d306785b0);
        

        marker_5520d8079ced2374e19dee5754d30ec5.bindPopup(popup_3331426341c940a84870052b7411931c)
        ;

        
    
    
            var marker_d38a57b55a7ffa460acdb2fe175fc805 = L.marker(
                [45.51221593, 9.14122497],
                {}
            ).addTo(marker_cluster_8a58cfb1211dcb0e16a5a526e3f376b9);
        
    
        var popup_f31372428e805b2e499e148c6aaff218 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_9934789ba4b8a874b5d4885d26227e3a = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBERSBQSVNJUyAyNQ==" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_f31372428e805b2e499e148c6aaff218.setContent(i_frame_9934789ba4b8a874b5d4885d26227e3a);
        

        marker_d38a57b55a7ffa460acdb2fe175fc805.bindPopup(popup_f31372428e805b2e499e148c6aaff218)
        ;

        
    
    
            var marker_7f849ceb78b3fdbc439edf89436bedee = L.marker(
                [45.51784555, 9.14525085],
                {}
            ).addTo(marker_cluster_8a58cfb1211dcb0e16a5a526e3f376b9);
        
    
        var popup_3c7f3117ff9486acc86bd4e60d2f9906 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_3613d0472cd93351e42b451831f4d815 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBDTEVBTkJOQiBTSU1PTkkgMTM=" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_3c7f3117ff9486acc86bd4e60d2f9906.setContent(i_frame_3613d0472cd93351e42b451831f4d815);
        

        marker_7f849ceb78b3fdbc439edf89436bedee.bindPopup(popup_3c7f3117ff9486acc86bd4e60d2f9906)
        ;

        
    
    
            var marker_f3fc67d76ac386de3ec523bedaf477f6 = L.marker(
                [45.51360735, 9.13660499],
                {}
            ).addTo(marker_cluster_8a58cfb1211dcb0e16a5a526e3f376b9);
        
    
        var popup_ed06bc8ae50a40a63e68a803dff4a051 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_b3b9e1aa115abda1d2b23a82ce428597 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBMRVNTT05BIFNVQiAzMg==" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_ed06bc8ae50a40a63e68a803dff4a051.setContent(i_frame_b3b9e1aa115abda1d2b23a82ce428597);
        

        marker_f3fc67d76ac386de3ec523bedaf477f6.bindPopup(popup_ed06bc8ae50a40a63e68a803dff4a051)
        ;

        
    
    
            var marker_6af5a2756f5e9ffcce1f10a9423c3dd2 = L.marker(
                [45.50796339, 9.13351795],
                {}
            ).addTo(marker_cluster_8a58cfb1211dcb0e16a5a526e3f376b9);
        
    
        var popup_80cab7f1fbf74b1d752ee82d314c8e0a = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_601ee6bde8edbad355834b72d9a09f80 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBDT1RUT04gQ0FORFk=" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_80cab7f1fbf74b1d752ee82d314c8e0a.setContent(i_frame_601ee6bde8edbad355834b72d9a09f80);
        

        marker_6af5a2756f5e9ffcce1f10a9423c3dd2.bindPopup(popup_80cab7f1fbf74b1d752ee82d314c8e0a)
        ;

        
    
    
            var marker_bb2fd54440789954e94f92f3b780ce74 = L.marker(
                [45.51508814, 9.14212549],
                {}
            ).addTo(marker_cluster_8a58cfb1211dcb0e16a5a526e3f376b9);
        
    
        var popup_63ee65651d0ef0973881f28bf0cdfd0e = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_2d0fe4d4be837e5cb6947f839c39ef83 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBQT1JUIFJBWUFMIENBVg==" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_63ee65651d0ef0973881f28bf0cdfd0e.setContent(i_frame_2d0fe4d4be837e5cb6947f839c39ef83);
        

        marker_bb2fd54440789954e94f92f3b780ce74.bindPopup(popup_63ee65651d0ef0973881f28bf0cdfd0e)
        ;

        
    
    
            var marker_a7287b835dd689bb052764fb8efc3c3b = L.marker(
                [45.50830674, 9.13100016],
                {}
            ).addTo(marker_cluster_8a58cfb1211dcb0e16a5a526e3f376b9);
        
    
        var popup_8ceffe324d31d7f2c7a7bcd184ab6096 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_f99b33b02a0db71b864160825b101af3 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBTVEVQSEVOU09OIEFQQVJUTUVOVFM=" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_8ceffe324d31d7f2c7a7bcd184ab6096.setContent(i_frame_f99b33b02a0db71b864160825b101af3);
        

        marker_a7287b835dd689bb052764fb8efc3c3b.bindPopup(popup_8ceffe324d31d7f2c7a7bcd184ab6096)
        ;

        
    
    
            var marker_a5f02218149c89c45c5a2a68042c1ed1 = L.marker(
                [45.51050905, 9.14272593],
                {}
            ).addTo(marker_cluster_8a58cfb1211dcb0e16a5a526e3f376b9);
        
    
        var popup_d1cf66c998431b07ac4b6a4eee6ead20 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_380b294a8299210905327a8935600d34 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBMRUFMSSBQRVJJTkkyMQ==" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_d1cf66c998431b07ac4b6a4eee6ead20.setContent(i_frame_380b294a8299210905327a8935600d34);
        

        marker_a5f02218149c89c45c5a2a68042c1ed1.bindPopup(popup_d1cf66c998431b07ac4b6a4eee6ead20)
        ;

        
    
    
            var marker_49d1dfb44ad50db25be6fb16cc83daeb = L.marker(
                [45.51508814, 9.14212549],
                {}
            ).addTo(marker_cluster_8a58cfb1211dcb0e16a5a526e3f376b9);
        
    
        var popup_0578c7e6aae2cf1eabeafa13e1071593 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_88d56ef4241912451d0354e01ab421c1 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBQT1JUIFJBWUFMIENBViAy" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_0578c7e6aae2cf1eabeafa13e1071593.setContent(i_frame_88d56ef4241912451d0354e01ab421c1);
        

        marker_49d1dfb44ad50db25be6fb16cc83daeb.bindPopup(popup_0578c7e6aae2cf1eabeafa13e1071593)
        ;

        
    
    
            var marker_fdbac4cf78e9bb53265cfd039a2716a8 = L.marker(
                [45.51847775, 9.13158115],
                {}
            ).addTo(marker_cluster_8a58cfb1211dcb0e16a5a526e3f376b9);
        
    
        var popup_caccfa4cab02131671f481675e942d21 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_895a4b5a83dc55a9033d03af0386fb0a = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBTQVJBIEhPVVNFIDIw" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_caccfa4cab02131671f481675e942d21.setContent(i_frame_895a4b5a83dc55a9033d03af0386fb0a);
        

        marker_fdbac4cf78e9bb53265cfd039a2716a8.bindPopup(popup_caccfa4cab02131671f481675e942d21)
        ;

        
    
    
            var marker_d32c1f40f1fe48eb891a36b45b7f4b4d = L.marker(
                [45.51391953, 9.13478298],
                {}
            ).addTo(marker_cluster_8a58cfb1211dcb0e16a5a526e3f376b9);
        
    
        var popup_0d1753ba899a399691dc6f4a628695bb = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_d4259c62feaed39a1ba84e2980444430 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBDQVJPTElOQSBTVUIgNzEw" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_0d1753ba899a399691dc6f4a628695bb.setContent(i_frame_d4259c62feaed39a1ba84e2980444430);
        

        marker_d32c1f40f1fe48eb891a36b45b7f4b4d.bindPopup(popup_0d1753ba899a399691dc6f4a628695bb)
        ;

        
    
    
            var marker_131cb90c40704d89ee2372a846aa5572 = L.marker(
                [45.50796339, 9.13351795],
                {}
            ).addTo(marker_cluster_8a58cfb1211dcb0e16a5a526e3f376b9);
        
    
        var popup_9783cd3e638bb17e148a1072602a36f8 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_2bc12e508fac53810e02732d5a0a00fe = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBQQVJJU09UVE8gTUFNQlJFVFRJ" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_9783cd3e638bb17e148a1072602a36f8.setContent(i_frame_2bc12e508fac53810e02732d5a0a00fe);
        

        marker_131cb90c40704d89ee2372a846aa5572.bindPopup(popup_9783cd3e638bb17e148a1072602a36f8)
        ;

        
    
    
            var marker_bca997947c979a8323ddc0f257ef861b = L.marker(
                [45.5119464, 9.12766036],
                {}
            ).addTo(marker_cluster_8a58cfb1211dcb0e16a5a526e3f376b9);
        
    
        var popup_f3ac9c2766ceabd49e9eb509f5d52924 = L.popup({"maxWidth": 175, "minWidth": 175});

        
            var i_frame_77ffee85e33d8c2837cf0b090e960674 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBOYW1lOiBLRVlTIE9GIElUQUxZIEcuQi4gR1JBU1NJIDE=" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_f3ac9c2766ceabd49e9eb509f5d52924.setContent(i_frame_77ffee85e33d8c2837cf0b090e960674);
        

        marker_bca997947c979a8323ddc0f257ef861b.bindPopup(popup_f3ac9c2766ceabd49e9eb509f5d52924)
        ;

        
    
</script>