<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="static/css/mappastyle.css">
    <link rel="stylesheet" href="static/css/style.css">
    
</head>

<body>
    
    <!-- title -->
    <p id="Namesite"><Strong id="blue">Qui</Strong><Strong id="orange">Va</Strong><Strong id="red">do</Strong></p> 
    <!-- line -->
    <hr style="width:100%;text-align:left;margin-left:0;height:2px;border-width:0;color:gray;background-color:gray">
    <!-- table -->
    <div class="block_container">
        <div id="bloc1">
            <form action="/servizio2" method = "GET">
                <!-- input textbox -->
                <p>nome dell'alloggio:<input type = "text" name = "namealloggio" /></p>
                <p><input type = "submit" value = "Cerca" /></p>
            </form>
        </div>
        <div id="bloc2">
            <form action="/servizio3" method = "GET">
                <!-- input textbox -->
                <p>scegli il nome del quartiere: 
                    <select name="quartiere">
                    {% for item in quartieri%}
                    <option value="{{item}}">{{item}}</option>
                    {%endfor%}

                  </select>
                <p>
                <input type = "submit" value = "Cerca" /></p>
            </form>
        </div>
    </div>
        
    <div class="containertab">
        <div class="contnomall">
            <h3 id="nomealloggio"> {{nome}}</h3>
        </div>
        <div class="contcatall">
            <p id="categoriaalloggio">Categoria: {{cate}}</p>
        </div>
        <div class="contindall">
            <p id="indirizzoalloggio">Indirizzo: {{ind}}</p>
        </div>
        <div class="contquartall">
            <p id="quartierealloggio">Quartiere: {{quart}}</p>
        </div>
        <div class="contcapall">
            <p id="capalloggio">Cap: {{cap}}</p>
        </div>  
    </div>
    
    <div id="explore">
        <h3 style="font-family:Trebuchet MS;"><a href="/">Explore</a></h3> 
    </div>

    <iframe src="/mappaserv2" class="map1"></iframe>
</body>

</html>

</html>